/*CSS reset*/
body{
    margin: 0;
    padding: 0;
    background-color:#fff;
}
*{
    margin: 0;
    padding:0;
}
html{
	scroll-behavior: smooth;
}
/*Header*/
header{
    height: 88px;
    background-color: rgba(6, 6, 6, 0.373);
    align-items: center;
    width: 100%;
    display: flex;
    position:fixed;
    z-index:100;
}
/*logo*/
#LogoContainer{
    min-width:60px ;
    width: 60px;
    height: 70%;
    margin-left: 1%;
    overflow: hidden;
    border-radius: 50%;
}
/*options*/
header ul{
    display: flex;
    list-style-type: none;
    margin-left: 3%;
    width: 500%;
}
header ul li{
    margin-right: 2%;
    font-size: medium;
}
header ul li a{
    text-decoration: none;
    color: #fff;
}
/* Background image with the text in the bottom of the header*/
#bgWithText{
    height: 500px;
    background-image: url(../images/background_1.jpg);
    background-size: cover;
}
#bgWithText h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
    position: relative;
    top: 35%;
}
#bgWithText p{
    text-align: center;
    color: #fff;
    position: relative;
    top: 36%;
}
#bgWithText a{
    font-size: large;
    text-decoration: none;
    color: #fff;
    border: solid #fff;
    border-radius: 15px;
    background-color: brown;
    padding: 6px;
}
.CenteringContainer2{
	position:relative;
	top:55%;
	display:flex;
	justify-content:center;
}
/*services*/
#service{
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    padding-left:1%;padding-right:1%;
}
.services{
    height: 90%;
    background-color: hwb(0 96% 1%);
    border: solid brown;
    border-radius: 10%;
    width: 29%;
    padding:1%;
    padding-bottom: 0%;
}
.service1,.service2{
    margin-right: 3%;
}
.services img{
    width: 60%;
    height: 25%;
    position: relative;
    left: 20%;
}
.services p{
    font-size: medium;
    text-align: center;
}
.serviceHeadings{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
/*Clients*/
#client-bg{
    height: 260px;
    background-image: url("../images/client_bg.jpg");
    background-size: cover;
}
#client{
    height: 260px;
    display: flex;
    margin-top: -260px;
    background-color:rgba(255, 255, 255, 0.563);
}
.ClientContainer{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ClientContainer img{
    width: 40%;
    height: 70%;
}
#Apple,#hp{
    margin-right: 10%;
}
#Apple{
    width: 35%;
}
#Microsoft{
    height: 80%;
    position: relative;
    top:5%;
}
#ClientHeading{
	text-align:center;
	margin-top:4%;
	margin-bottom:5%;
}
/*contact us*/
#ContactHeading{
    text-align: center;
    padding: 2% 0%;
}
#contact{
    height: max-content;
    background-image: url("../images/contact.jpg");
    background-size: cover;
}
#ContactForm input,textarea{
    width: 50%;
}
#ContactForm input,label,br,textarea{
    margin-left: 25%;
}
#ContactForm input{
    padding: 1%;
}
#submit{
    position: relative;
    left: 1%;
}
/*footer*/
footer{
    height: 8%;
    text-align: center;
    background-color:black;
}
footer p{
	color:#fff;
}